<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Nosotros</h1>
    <p>
        Csoftmty es el clúster de tecnologías de información y comunicaciones en
        Nuevo León, y es el primer clúster creado en el estado.
    </p>
    <p>
        El Consejo de Software de Nuevo León, Csoftmty, nace de una alianza entre
        universidades, empresas y gobierno que buscan un crecimiento económico y
        una mejor calidad de vida en el estado a través de la innovación; desarrollando
        e impulsando el mercado, el talento humano y la infraestructura de la industria
        en tecnologías de la información y comunicaciones (TIC).
    </p>
    <p>
        Desde su creación, Csoftmty ha logrado incrementar la cantidad de
        ingenieros de más de 2,000 a más de 14,000, lo que representa un
        incremento del 30% por año. El éxito de su modelo de trabajo ha llevado
        al estado a clusterizar otros sectores industriales estratégicos.
    </p>

  </body>
</html>
